body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#suggestions {
    padding-left: 5px;
}

#suggestions li:first-child {
    border-top: thin solid #d2d2d2;
}

#suggestions li {
    list-style: none;
    display: block;
    border-bottom: thin solid #d2d2d2;
}

#suggestions li a {
    display: block;
    padding: 5px;
    cursor: pointer;
}

#suggestions li a:hover {
    text-decoration: none;
}

.branch-item {
    padding: 20px;
    border: thin solid #d2d2d2;
    margin-bottom: 5px;
}

.branch-item > .row {
    padding: 5px;
}